/*Base css styles for simple demos*/

/*Layout*/
body {
  margin:50px 0px; padding:0px;
  text-align:center;
  background: #ddd;
}

.demo-ui-container {
  width:400px;
  margin:0px auto;
  text-align:left;
  padding:15px;
  border:1px dashed #333;
  background-color:#eee;
}

/*Text*/
html {
  color: #444;
  font-size: 16px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;;
  font-weight: 400;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  color: #333;
}
h1 {font-size: 2.4rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.6rem;}

hr {border-top: 1px dashed #ccc;}

a, a:link {
  color: #7ba2ac;
  cursor: pointer;
}

a:hover, a:active {
  color: #5e6b6e;
}

/*Button*/
.dash-button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  padding: .2em .7em;
  text-align: center;
  color: #999;
  font-weight: bold;
  font-size: 0.85em;
  border: none;
  background-color: #ccc;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 2px 0 -1px rgba(0,0,0,0.03);
}

.dash-button:hover {
  color: #fff;
  background-color: #999;
  box-shadow: 0 2px 0 -1px rgba(0,0,0,0.06);
}

.dash-button:focus {
  outline: 0;
}

/*Nicolas Gallagher's micro clearfix hack*/
/*http://nicolasgallagher.com/micro-clearfix-hack/*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
