<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>AngularJS Modal Demo</title>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/demo-base.css">
		<link rel="stylesheet" href="comps/modal/modal.css">
	</head>
	<body ng-app="modalDemo" ng-cloak>

		<h3>Angular Modal Demo</h3>

		<!-- Modal demo UI -->
		<div ng-controller="modalDemoCtrl" class="demo-ui-container">
			<div class="dash-button" ng-click="launchModal('emailIntercept', 1)">Launch Modal 1</div>
			<div class="clearfix"></div><br>
			<div class="dash-button" ng-click="launchModal('wipeHardDrive', 2, true)">Launch Modal 2</div>
			<div class="clearfix"></div><br>
			<p ng-show='modalOKConfig !== null'> Received OK from modal with contentId: <span>{{modalOKConfig.contentId}}</span> and targetId: <span>{{modalOKConfig.targetId}}</span></p>
		</div>

		<!-- Concrete modal directive -->
		<modal>
			<modal-content id="emailIntercept">
				Your emails are being intercepted.
			</modal-content>
			<modal-content id="wipeHardDrive">
				Are you sure you want to wipe your hard drive?
			</modal-content>
		</modal>

		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/lodash/dist/lodash.compat.js"></script>
		<script src="js/app.js"></script>
		<script src="comps/modal/modal.directive.js"></script>
		<script src="comps/modal/modal.service.js"></script>
	</body>
</html>
